In [2]:
import pandas as pd
#import numpy as np
#from bs4 import BeautifulSoup4 as bs

In [3]:
deaths_2015_df = pd.read_csv('./resources/2015-death-data.csv')

In [4]:
#CDC data on Morphine Milligram equivalents by county. Based on raw data from 
#QuintilesIMS Transactional Data Warehouse
#https://data.world/jmpichar/opioid-prescriptions/workspace/file?agentid=associatedpress&datasetid=opioid-prescriptions-2010-2015&filename=Opioid_prescription_amounts.csv
#
opioids_2010_2015_rx_df = pd.read_csv('./resources/Opioid_prescription_amounts.csv')

In [5]:
# mulltiple cause of death data on CDC Wonder
#https://data.world/health/opioid-overdose-deaths
mcd_1999_2014_df = pd.read_csv('./resources/multiple_cause_death_1999-2014.csv')

In [6]:
mcd_1999_2014_df.head(5)

,State,Year,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Prescriptions Dispensed by US Retailers in that year (millions)
0,Alabama,1999,39,4430141,0.9,0.6,1.2,116
1,Alabama,2000,46,4447100,1,0.8,1.4,126
2,Alabama,2001,67,4467634,1.5,1.2,1.9,138
3,Alabama,2002,75,4480089,1.7,1.3,2.1,142
4,Alabama,2003,54,4503491,1.2,0.9,1.6,149

In [43]:
mask = (mcd_1999_2014_df['Year'] == 2000) |(mcd_1999_2014_df['Year'] == 2014)

In [44]:
mcd_1999_2014_df[mask]

,State,Year,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Prescriptions Dispensed by US Retailers in that year (millions)
1,Alabama,2000,46,4447100,1,0.8,1.4,126
15,Alabama,2014,282,4849377,5.8,5.1,6.5,196
17,Alaska,2000,27,626932,4.3,2.8,6.3,126
31,Alaska,2014,79,736732,10.7,8.5,13.4,196
33,Arizona,2000,249,5130632,4.9,4.3,5.5,126
47,Arizona,2014,616,6731484,9.2,8.4,9.9,196
49,Arkansas,2000,20,2673400,0.7,0.5,1.2,126
63,Arkansas,2014,179,2966369,6,5.2,6.9,196
65,California,2000,1105,33871648,3.3,3.1,3.5,126
79,California,2014,2159,38802500,5.6,5.3,5.8,196
81,Colorado,2000,184,4301261,4.3,3.7,4.9,126
95,Colorado,2014,532,5355866,9.9,9.1,10.8,196
97,Connecticut,2000,173,3405565,5.1,4.3,5.8,126
111,Connecticut,2014,531,3596677,14.8,13.5,16,196
113,Delaware,2000,36,783600,4.6,3.2,6.4,126
127,Delaware,2014,125,935614,13.4,11,15.7,196
129,District of Columbia,2000,43,572059,7.5,5.4,10.1,126
143,District of Columbia,2014,65,658893,9.9,7.6,12.6,196
145,Florida,2000,571,15982378,3.6,3.3,3.9,126
159,Florida,2014,1446,19893297,7.3,6.9,7.6,196
161,Georgia,2000,134,8186453,1.6,1.4,1.9,126
175,Georgia,2014,724,10097343,7.2,6.6,7.7,196
177,Hawaii,2000,31,1211537,2.6,1.7,3.6,126
191,Hawaii,2014,62,1419561,4.4,3.3,5.6,196
193,Idaho,2000,29,1293953,2.2,1.5,3.2,126
207,Idaho,2014,80,1634464,4.9,3.9,6.1,196
209,Illinois,2000,629,12419293,5.1,4.7,5.5,126
223,Illinois,2014,1263,12880580,9.8,9.3,10.3,196
225,Indiana,2000,47,6080485,0.8,0.6,1,126
239,Indiana,2014,489,6596855,7.4,6.8,8.1,196
...,...,...,...,...,...,...,...,...
577,Oklahoma,2000,136,3450654,3.9,3.3,4.6,126
591,Oklahoma,2014,504,3878051,13,11.9,14.1,196
593,Oregon,2000,178,3421399,5.2,4.4,6,126
607,Oregon,2014,347,3970239,8.7,7.8,9.7,196
609,Pennsylvania,2000,330,12281054,2.7,2.4,3,126
623,Pennsylvania,2014,1110,12787209,8.7,8.2,9.2,196
625,Rhode Island,2000,61,1048319,5.8,4.5,7.5,126
639,Rhode Island,2014,211,1055173,20,17.3,22.7,196
641,South Carolina,2000,90,4012012,2.2,1.8,2.8,126
655,South Carolina,2014,530,4832482,11,10,11.9,196
657,South Dakota,2000,Suppressed,754844,Suppressed,Suppressed,Suppressed,126
671,South Dakota,2014,33,853175,3.9,2.7,5.4,196
673,Tennessee,2000,103,5689283,1.8,1.5,2.2,126
687,Tennessee,2014,892,6549352,13.6,12.7,14.5,196
689,Texas,2000,457,20851820,2.2,2,2.4,126
703,Texas,2014,1219,26956958,4.5,4.3,4.8,196
705,Utah,2000,159,2233169,7.1,6,8.2,126
719,Utah,2014,471,2942902,16,14.6,17.5,196
721,Vermont,2000,24,608827,3.9,2.5,5.9,126
735,Vermont,2014,72,626562,11.5,9,14.5,196
737,Virginia,2000,260,7078515,3.7,3.2,4.1,126
751,Virginia,2014,775,8326289,9.3,8.7,10,196
753,Washington,2000,374,5894121,6.3,5.7,7,126
767,Washington,2014,692,7061530,9.8,9.1,10.5,196
769,West Virginia,2000,52,1808344,2.9,2.1,3.8,126
783,West Virginia,2014,585,1850326,31.6,29.1,34.2,196
785,Wisconsin,2000,117,5363675,2.2,1.8,2.6,126
799,Wisconsin,2014,640,5757564,11.1,10.3,12,196
801,Wyoming,2000,10,493782,Unreliable,1,3.7,126
815,Wyoming,2014,57,584153,9.8,7.4,12.6,196

In [7]:
mcd_1999_2014_df.columns

Index(['State', 'Year', 'Deaths', 'Population', 'Crude Rate',
       'Crude Rate Lower 95% Confidence Interval',
       'Crude Rate Upper 95% Confidence Interval',
       'Prescriptions Dispensed by US Retailers in that year (millions)'],
      dtype='object')

In [26]:
rx_by_year = mcd_1999_2014_df.groupby(['State','Year'])

In [27]:
rx_by_year.sum()

                Population  \
State     Year
Alabama   1999     4430141
          2000     4447100
          2001     4467634
          2002     4480089
          2003     4503491
          2004     4530729
          2005     4569805
          2006     4628981
          2007     4672840
          2008     4718206
          2009     4757938
          2010     4779736
          2011     4802740
          2012     4822023
          2013     4833722
          2014     4849377
Alaska    1999      624779
          2000      626932
          2001      633714
          2002      642337
          2003      648414
          2004      659286
          2005      666946
          2006      675302
          2007      680300
          2008      687455
          2009      698895
          2010      710231
          2011      722718
          2012      731449
...                    ...
Wisconsin 2001     5406835
          2002     5445162
          2003     5479203
          2004     5514026
          2005     5546166
          2006     5577655
          2007     5610775
          2008     5640996
          2009     5669264
          2010     5686986
          2011     5711767
          2012     5726398
          2013     5742713
          2014     5757564
Wyoming   1999      491780
          2000      493782
          2001      494657
          2002      500017
          2003      503453
          2004      509106
          2005      514157
          2006      522667
          2007      534876
          2008      546043
          2009      559851
          2010      563626
          2011      568158
          2012      576412
          2013      582658
          2014      584153

                Prescriptions Dispensed by US Retailers in that year (millions)
State     Year
Alabama   1999                                                116
          2000                                                126
          2001                                                138
          2002                                                142
          2003                                                149
          2004                                                155
          2005                                                163
          2006                                                174
          2007                                                184
          2008                                                196
          2009                                                202
          2010                                                210
          2011                                                219
          2012                                                217
          2013                                                207
          2014                                                196
Alaska    1999                                                116
          2000                                                126
          2001                                                138
          2002                                                142
          2003                                                149
          2004                                                155
          2005                                                163
          2006                                                174
          2007                                                184
          2008                                                196
          2009                                                202
          2010                                                210
          2011                                                219
          2012                                                217
...                                                           ...
Wisconsin 2001                                                138
          2002                                                142
          2003                                                149
          2004                                                155
          2005                                                163
          2006                                                174
          2007                                                184
          2008                                                196
          2009                                                202
          2010                                                210
          2011                                                219
          2012                                                217
          2013                                                207
          2014                                                196
Wyoming   1999                                                116
          2000                                                126
          2001                                                138
          2002                                                142
          2003                                                149
          2004                                                155
          2005                                                163
          2006                                                174
          2007                                                184
          2008                                                196
          2009                                                202
          2010                                                210
          2011                                                219
          2012                                                217
          2013                                                207
          2014                                                196

[816 rows x 2 columns]

In [8]:
deaths_2015_df.head(3)

,State,Range,Rate,Number,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,AL,13.6 to 16.0,15.7,736,NaN,NaN,NaN,NaN
1,AK,13.6 to 16.0,16.0,122,NaN,NaN,NaN,NaN
2,AZ,18.6 to 21.0,19.0,"1,274",NaN,NaN,NaN,NaN

In [9]:
deaths_2015_df_mod = deaths_2015_df[['State', 'Range', 'Rate', 'Number']]

In [11]:
deaths_2015_df_mod.head(3)

  State         Range  Rate Number
0    AL  13.6 to 16.0  15.7    736
1    AK  13.6 to 16.0  16.0    122
2    AZ  18.6 to 21.0  19.0  1,274

In [20]:
opioids_2010_2015_rx_df.tail()

,FIPS,State,County,MME_PerCap_2010,MME_PerCap_2015,Quartile_2015,2010-2015_Change
3138,56039,WY,TETON,406.3,387.8,1.0,Stable
3139,56005,WY,CAMPBELL,581.7,384.7,1.0,Decreased
3140,56015,WY,GOSHEN,601.4,375.4,1.0,Decreased
3141,56011,WY,CROOK,210.7,11.2,1.0,Decreased
3142,56027,WY,NIOBRARA,NaN,5.7,1.0,NaN

In [16]:
states = opioids_2010_2015_rx_df.groupby(['State'])

In [18]:
states.mean()

               FIPS  MME_PerCap_2010  MME_PerCap_2015  Quartile_2015
State
AK      2153.517241       740.000000       553.183333       2.083333
AL      1067.000000       935.525758       944.068657       2.880597
AR      5075.000000       917.344776       825.583784       2.837838
AZ      4013.866667      1064.942857       899.720000       2.933333
CA      6058.000000      1063.996429       834.973684       2.631579
CO      8062.234375       740.225490       609.546296       2.166667
CT      9008.000000       736.300000       677.662500       2.625000
DC     11001.000000       240.300000       205.900000       1.000000
DE     10003.000000      1547.533333      1062.833333       3.666667
FL     12067.910448      1244.433333       771.413433       2.776119
GA     13161.490566       857.376692       736.761184       2.513158
HI     15005.000000       966.350000       610.025000       2.250000
IA     19099.000000       451.355789       442.079592       1.714286
ID     16044.000000       783.750000       819.889744       2.820513
IL     17102.000000       637.424444       513.983000       1.850000
IN     18092.000000      1039.941111       800.604396       2.857143
KS     20105.000000       773.311594       583.621212       2.181818
KY     21120.000000      1113.285965       887.004202       2.890756
LA     22064.000000       722.950000       584.892063       2.095238
MA     25014.000000       652.964286       549.950000       1.928571
MD     24044.958333      1059.958333       811.862500       2.791667
ME     23016.000000       992.125000       825.156250       2.875000
MI     26083.000000      1000.109877       953.685366       3.000000
MN     27087.000000       500.784337       435.918391       1.528736
MO     29117.713043       854.415385       683.922523       2.405405
MS     28082.000000       780.893151       694.880247       2.395062
MT     30056.000000       729.578378       549.734091       2.136364
NC     37100.000000       961.117021       921.355556       2.979798
ND     38053.000000       480.688372       383.244444       1.577778
NE     31093.000000       523.789286       427.825676       1.702703
NH     33010.000000       881.550000       854.550000       3.100000
NJ     34021.000000       769.842857       745.138095       2.619048
NM     35030.151515       761.096296       623.303448       2.172414
NV     32045.529412      1293.700000      1053.114286       3.285714
NY     36062.000000       650.008197       646.118033       2.278689
OH     39088.000000       855.178409       636.947727       2.250000
OK     40077.000000       948.596774       746.280263       2.592105
OR     41036.000000      1185.996970       972.417647       3.088235
PA     42067.000000       853.373134       795.861194       2.805970
RI     44005.000000       677.140000       557.480000       1.800000
SC     45046.000000       734.382609       764.206522       2.673913
SD     46068.121212       478.831818       410.350000       1.720000
TN     47095.000000      1470.791398      1336.681053       3.600000
TX     48254.000000       603.422283       411.186697       1.660550
UT     49029.000000      1021.361538       977.219231       3.000000
VA     51265.865672       935.531092       838.213934       2.393443
VT     50014.000000       459.946154       542.735714       2.000000
WA     53039.000000       890.481579       755.351282       2.589744
WI     55071.097222       559.552857       512.075714       1.885714
WV     54055.000000      1116.620000       892.527273       2.872727
WY     56023.000000       639.681818       668.491304       2.434783

In [56]:
opioids_2010_2015_rx_df.head(3)

,FIPS,State,County,MME_PerCap_2010,MME_PerCap_2015,Quartile_2015,2010-2015_Change
0,2050,AK,BETHEL,NaN,NaN,NaN,NaN
1,2068,AK,DENALI,NaN,NaN,NaN,NaN
2,2013,AK,ALEUTIANS EAST,NaN,NaN,NaN,NaN

In [57]:
opioids_2010_2015_rx_df.columns

Index(['FIPS', 'State', 'County', 'MME_PerCap_2010', 'MME_PerCap_2015',
       'Quartile_2015', '2010-2015_Change'],
      dtype='object')

In [35]:
#opioids_rx_df.drop(columns =['MME_PerCap_2010'],axis=1, inplace=True)

In [ ]:
# drop 2010 data
# rename columns